<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/360f664bcf.js" crossorigin="anonymous"></script>

<body>
    <header>
        <section class="encabezado">
        <div class="cajaImagenPrincipal">
            <img class="imagenPrincipal" src="/img/logo-mercado-liebre.svg">
        </div>
        <div class="search">
            <input type="text" placeholder="Buscar productos,marcas" required>
            <button class="lupa"><i class="fas fa-search"></i></button>
        </div>
    </section>

        <h4 class="slogan"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
        <nav class="links">
            <ul class="listop">
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Aiuda</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresa<i class="fas fa-sign-in"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars" style="color:var(--grisClaro) "></i>
        </div>
    </header>
    <main>
        <div class="banner">
            <img src="/img/img-home-banner.jpg" alt="">
        </div>
        <section>
            <h2>
                <ul>
                    <li class="titular">Basado en tu última visita</li>
                </ul>
            </h2>
            <article class="uno">
                <img class="imagenes" src="/img/img-cafetera-moulinex.jpg"><br>
                <div class="contenedor">
                    <button><i class="fas fa-truck"></i></button>
                    <div class="caja-pre-desc">
                        <p class="precio">
                        $6.770 </p>
                    <p class="descuento">
                        40% OFF </p>
                    </div>
                    <p class="nombreProducto">
                        Cafetera Moulinex
                    </p>
                </div>
            </article>
            <article class="dos">
                <img class="imagenes" src="/img/img-macbook-pro-2019.jpg"><br>
                <button><i class="fas fa-truck"></i></button>
                <div class="contenedor">
                    <div class="caja-pre-desc">
                    <p class="precio">
                        $230.000 </p>
                    <p class="descuento">
                        20% off </p></div>
                    <p class="nombreProducto">
                        MacBook Pro 2019
                    </p>
                </div>
            </article>
            <article class="tres">
                <img class="imagenes" src="/img/img-samsung-galaxy-s10.jpg"><br>
                <div class="contenedor">
                    <button><i class="fas fa-truck"></i></button>
                    <div class="caja-pre-desc">
                    <p class="precio">
                        $70.500 </p>
                    <p class="descuento">
                        10% off </p></div>
                    <p class="nombreProducto">
                        Samsung Galaxy S10
                    </p>
                </div>
            </article>
            <article class="cuatro">
                <img class="imagenes" src="/img/img-tv-samsung-smart.jpg"><br>
                <div class="contenedor">
                    <button><i class="fas fa-truck"></i></button>
                    <div class="caja-pre-desc">
                    <p class="precio">
                        $23.200 </p>
                    <p class="descuento">
                        5% off </p></div>
                    <p class="nombreProducto">
                        SmartTv Samsung 43"
                    </p>
                </div>
            </article>
        </section>
        <section>
            <h2>
                <ul>
                    <li class="titular">Ofertas</li>
                </ul>
            </h2>
            <article class="uno">
                <img class="imagenes" src="/img/img-cafetera-moulinex.jpg"><br>
                <div class="contenedor">
                    <button><i class="fas fa-truck"></i></button>
                    <div class="caja-pre-desc">
                    <p class="precio">
                        $6.770 </p>
                    <p class="descuento">
                        40% off </p></div>
                    <p class="nombreProducto">
                        Cafetera Moulinex
                    </p>
                </div>
            </article>
            <article class="dos">
                <img class="imagenes" src="/img/img-macbook-pro-2019.jpg"><br>
                <div class="contenedor">
                    <button><i class="fas fa-truck"></i></button>
                    <div class="caja-pre-desc">
                    <p class="precio">
                        $230.000 </p>
                    <p class="descuento">
                        20% off </p></div>
                    <p class="nombreProducto">MacBook Pro 2019
                    </p>
                </div>
            </article>
            <article class="tres">
                <img class="imagenes" src="/img/img-samsung-galaxy-s10.jpg"><br>
                <div class="contenedor">
                    <button><i class="fas fa-truck"></i></button>
                    <div class="caja-pre-desc">
                    <p class="precio">
                        $70.500 </p>
                    <p class="descuento">
                        10% off </p></div>
                    <p class="nombreProducto">
                        Samsung Galaxy S10
                    </p>
                </div>
            </article>
            <article class="cuatro">
                <img class="imagenes" src="/img/img-tv-samsung-smart.jpg"><br>
                <div class="contenedor">
                    <button><i class="fas fa-truck"></i></button>
                    <div class="caja-pre-desc">
                    <p class="precio">
                        $23.200 </p>
                    <p class="descuento">
                        5% off </p></div>
                    <p class="nombreProducto">
                        SmartTv Samsung 43"
                    </p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div class="iconoGrande"><i class="fas fa-credit-card"></i></div>
            <h4>
                Pagá con tarjeta o en efectivo
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin <br>
                interés con tarjeta o efectivo en puntos de <br>
                pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <div class="iconoGrande"><i class="fas fa-gift"></i></div>
            <h4>
                Envío gratis desde $ 2.500
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre <br>
                tenés envíos gratis en miles de productos. Es <br>
                un beneficio de Mercado Puntos.
            </p>
        </section>
        <section>
            <div class="iconoGrande"><i class="fas fa-user-shield"></i></div>
            <h4>
                Seguridad, de principio a fin
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre <br>
                no hay nada que no puedas hacer, porque estás <br>
                siempre protegid@.
            </p>
        </section>
        <section>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>
    </footer>
</body>

</html>