<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg">
        <h2>Lugar para poner la barra de busqueda</h2>
        <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Aiuda</a></li>
        </ul>
        <ul>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresa</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    </header>
    <main>
        <section>
<h2>
    <ul>
    <li>Sección: Basado en tu última visita</li>
    </ul>
</h2>
<img src="/img/img-cafetera-moulinex.jpg">
<p>
    imagen de la cafetera
$6.770 <br>
40% OFF <br>
Cafetera Moulinex
</p>
<img src="/img/img-macbook-pro-2019.jpg">
<p>
$230.000 <br>
20% off <br>
MacBook Pro 2019
</p>
<img src= "/img/img-samsung-galaxy-s10.jpg">
<p>
$70.500 <br>
10% off <br>
Samsung Galaxy S10
</p>
<img src="/img/img-tv-samsung-smart.jpg">
<p>
$23.200 <br>
5% off <br>
SmartTv Samsung 43"
</p>
</section>
<section>
<h2>
    <ul>
        <li>Sección de Ofertas</li>
    </ul>
</h2>
<img src="/img/img-cafetera-moulinex.jpg">
<p>
$6.770 <br>
40% off <br>
Cafetera Moulinex
</p>
<img src="/img/img-macbook-pro-2019.jpg">
<p>
$230.000 <br> 
20% off <br>
MacBook Pro 2019
</p>
<img src="/img/img-samsung-galaxy-s10.jpg">
<p>
$70.500 <br>
10% off <br>
Samsung Galaxy S10
</p>
<img src="/img/img-tv-samsung-smart.jpg">
<p>
$23.200 <br>
5% off <br>
SmartTv Samsung 43"
</p>
</section>
    </main>
    <footer>
<h4>
    Pagá con tarjeta o en efectivo
</h4>
<p>
Con Mercado Liebre Cash, tenés cuotas sin <br>
interés con tarjeta o efectivo en puntos de <br>
pago. ¡Y siempre es seguro!
</p>
<h4>
    Envío gratis desde $ 2.500
</h4>
<p>
Solo por estar registrad@ en Mercado Liebre <br>
 tenés envíos gratis en miles de productos. Es <br>
un beneficio de Mercado Puntos.
</p>
<h4>
    Seguridad, de principio a fin
</h4>
<p>
¿No te gusta? ¡Devolvelo! En Mercado Liebre <br>
no hay nada que no puedas hacer, porque estás <br>
 siempre protegid@.
</p>
<p>
    Copyright © 1999-2020 MercadoLiebre S.R.L.
</p>
    </footer>
</body>
</html>