<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/360f664bcf.js" crossorigin="anonymous"></script>

<body>
    <header>
        <section class="encabezado1">
            <article class="encabezado2">
                <div class="cajaImagenPrincipal">
                    <img class="imagenPrincipal" src="/img/logo-mercado-liebre.svg">
                </div>
                <div class="search">
                    <input type="text" placeholder="Buscar productos,marcas" >
                    <button class= required"lupa"><i class="fas fa-search"></i></button>
                </div>
            </article>
            <h4 class="slogan"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
        </section>
        <nav class="links">
            <ul class="listop">
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Aiuda</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresa<i class="fas fa-sign-in"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars" style="color:var(--grisClaro) "></i>
        </div>
    </header>
    <main>

        <form action="" method="post">
            <input placeholder="Nombre y apellido" name="nombreYapellido" type="text" required>
            <input placeholder="Nombre de usuario" name="nombreUsuario" type="text" required>
            <input placeholder="Email" name="email" type="email" required>
            <h2>Fecha de nacimiento</h2>
            <input type="date">
            <input placeholder="Domicilio" name="domicilio" type="text" required>
            <h2>Perfil de usuario</h2>
           <div> 
            <label>
                <input class="check" name="perfilUsuario" type="radio">Comprador
            </label>
            
            <label>
                <input class="check" name="perfilUsuario" type="radio">vendedor
            </label>
        </div>
        <div class="columnas-check">
            <h2>Intereses</h2>
            <label><input class="check" type="checkbox" name="categorias">Electro</label>
            <label><input class="check" type="checkbox" name="categorias">Moda</label>
            <label><input class="check" type="checkbox" name="categorias">Hogar</label>
            <label><input class="check" type="checkbox" name="categorias">Jugueteria</label>
            <label><input class="check" type="checkbox" name="categorias" value="categoria">Vida sana</label>
        </div>
            <label class="foto">Selecciona una foto de usuario<input type="file" accept=".jpg"></label>
            <input placeholder="Contraseña"  name="contraseña" type="password" required>
            <input placeholder="Repetir contraseña" name="contraseña" type="password" required>
           <div class="botones">
             <button type="submit">Enivar</button>
            <button type="reset">Borrar</button>
           </div>


        </form>

    </main>

    <footer>
        <section>
            <div class="iconoGrande"><i class="fas fa-credit-card"></i></div>
            <h4>
                Pagá con tarjeta o en efectivo
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin <br>
                interés con tarjeta o efectivo en puntos de <br>
                pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <div class="iconoGrande"><i class="fas fa-gift"></i></div>
            <h4>
                Envío gratis desde $ 2.500
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre <br>
                tenés envíos gratis en miles de productos. Es <br>
                un beneficio de Mercado Puntos.
            </p>
        </section>
        <section>
            <div class="iconoGrande"><i class="fas fa-user-shield"></i></div>
            <h4>
                Seguridad, de principio a fin
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre <br>
                no hay nada que no puedas hacer, porque estás <br>
                siempre protegid@.
            </p>
        </section>
        <section>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>
    </footer>
</body>

</html>