header{
    background-color: var(--amarillo);
    color: var(--negro);
    box-sizing: border-box;  
    width: 100%;
    padding: 20px 0;
    font-size: var(--cuerpo-de-texto)
}
.imagenPrincipal{
    width: 100%;
}
.cajaImagenPrincipal, .search{
   margin:0 20px;
}
.search{
     display: flex;
     flex-direction: row;
}
.search input{
    width: 90%;
}
.lupa{
    background-color: white;
    padding: 1px;
    border: 1px solid var(--grisRaro);
    border-radius: 4px;
    width:10%
}
header .slogan{
    margin: 20px 0;
    text-align: center;
}
header .links{
    display: none;
}

header .links ul{
    margin:0 0 20px;
}
header .links ul i{
    margin: 0 3px;
}

.burger-menu{
    text-align: center;
    font-size: 28px;
    
    
}
.burger-menu i{
    background-color:var(--celeste);
    padding: 3%;
    margin-bottom: 28px;
    border-radius: 20%;
    
}
.encabezado2{
    display: flex;
    flex-direction: row;
}
.encabezado2 .cajaImagenPrincipal,.search{
    width: 50%;
}

@media (min-width:461px){
    .burger-menu{
        display: none;
    }
    header .slogan{
        display: block;
    width: 35%;
        margin: none;
    }
.encabezado1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.encabezado1 .encabezado2{
    width: 65%;
}
.search{
    height: 40%;
}
header .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .links ul{
    display: flex;
    flex-direction: row;
}
header .links ul li{
    margin:0 5px ;
    margin-top: 30px;
}
}
   
@media (min-width:769px){
   
}