header{
    background-color: var(--amarillo);
    color: var(--negro);
    box-sizing: border-box;  
    width: 100%;
    padding: 20px 0;
    font-size: var(--cuerpo-de-texto)
}
.imagenPrincipal{
    width: 100%;
}
.cajaImagenPrincipal, .search{
   margin:0 20px;
}
.search{
     display: flex;
     flex-direction: row;
}
.lupa{
    background-color: white;
    padding: 1px;
    border: 1px solid var(--grisRaro);
    border-radius: 4px;
}
header .slogan{
    margin: 20px 0;
    text-align: center;
}
header .links{
    display: none;
}

header .links ul{
    margin:0 0 20px;
}
header .links ul i{
    margin: 0 3px;
}

.burger-menu{
    text-align: center;
    font-size: 28px;
    
    
}
.burger-menu i{
    background-color:var(--celeste);
    padding: 3%;
    margin-bottom: 28px;
    border-radius: 20%;
    
}
.encabezado{
    display: flex;
    flex-direction: row;
}
.encabezado .cajaImagenPrincipal,.search{
    width: 50%;
}

@media (min-width:461px){
    header .links{
        display: block;
    }
    header .slogan{
        display: none;
    }

}
   
@media (min-width:769px){

}