
.titular{
    font-size: 24px;

}
header{
    font-family: var(--fuenteTitular);
    background-color: var(--amarillo);
    color: var(--negro);
    margin: 10px 0;
    
}
p{
    font-size: 12px;
}
.center{
    text-align: center;
}
body header ul li a{
    text-decoration: none;
    
    color: var(--negro);
}
body header ul{
    list-style: none;
}
.search i{
    background-color: white;
    margin: var(--negro);
}
.imagenes{
    max-width: 425px;
    
}
.burger-menu{
    text-align: center;
}
.burger-menu i{
    background-color:var(--azul);
    color: var(--blanco)
}