.titular{
    font-size: 24px;
}

.center{
    text-align: center;
}
body main section article .imagenes{
    width: 100%;
}
.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
    color: var(--verde);
}
body main{
    width: 90%;
    margin: 0 auto;
}
body main section{
    padding: 20px 0 ;
}
body main .banner{
    display: none;
}
body main article{
    margin-bottom: 10px;
    border-top: solid 1px #ebebeb;
    padding: 15px;
}
body main article button{
    padding: 10px;
    border-radius: 100%;
    color: var(--verde);
    border-color: var(--verde);
    background-color: white;
    
}
.nombreProducto{
    font-size: 16px;
}