.titular{
    font-size: var(--titulares);
    color: var(--grisOscuro);
}

.center{
    text-align: center;
}
body main section article .imagenes{
    width: 100%;
}
.precio{
    font-size: var(--precios)
}
.descuento{
    font-size: var(--descuentosYdescripciones);
    color: var(--verde);
}
body main{
    width: 90%;
    margin: 0 auto;
    padding:20px 0;
}
body main section{
    padding: 20px 0 ;
}
body main .banner{
    display: none;
}
body main article{
    margin: 10px 0;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
}
body main section article button{
    padding: 10px;
    border-radius: 100%;
    color: var(--verde);
    border-color: var(--verde);
    background-color: white;
    
}
body main article .contenedor{
    border-top: 1px solid var(--grisClaro);
}
.nombreProducto{
    font-size: var(--descuentosYdescripciones);
    margin-top: 10px;
    color: var(--grisOscuro);
    display: none;
}
@media (min-width:461px){
    main section article{
        xbox-shadow: 0px 0px 10px var(--grisOscuro);
    }
main section article .nombreProducto{
    display:block;}}
   
@media (min-width:769px){

}